/* Basic */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #e8e8e8;
    background-image: url("images/bg02.png");
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

body, input, textarea, select {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #565656;
}

a {
    color: #c94663;
}

strong, b {
    font-weight: 700;
    color: #232323;
}

h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    color: #232323;
}

h2 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: inherit;
}

blockquote {
    border-left: solid 5px #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

em, i {
    font-style: italic;
}

hr {
    border: 0;
    border-top: solid 1px #ddd;
    padding: 1.5em 0 0 0;
    margin: 1.75em 0 0 0;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

br.clear {
    clear: both;
}

p, ul, ol, dl {
    margin-bottom: 1em;
}
